    :root {
        --accent-color: #2196f3;
        --logo: #000;
        --text-color: #212121;
        --desk-color: #757575;
        --border-color: #ffffff;
        --main-color: #FFF;
        --team-background: #F5F4FA;
        --footer-contact: rgba(255, 255, 255, 0.60);
        --footer-background: #2f303A;
        --portfolio-line: #ECECEC;
    }
    html {
        
    }
    body {

        font-family: ‘Inter’;
    }
    
    .header__logo {
        color:var(--logo);
        font-family: "Raleway";
        font-size: 24px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.72px;
        }
        .header__logo {
            margin-right: 88px;
            }
            .header__logo {
                font-size: 26px;
                letter-spacing: 0.78px;
                margin-right: 93px;
            }
            .header__link:hover{
                color: var(--accent-color);
            }
            .header__link{
                color: var(--text-color);
            }
            .header__color {
                color: #2196f3;
            }
    .header__cell {
        color: var(--desk-color);
        font-size: 12px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero__btn{
        border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
    }
    .nav__link {
        color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.28px;
    }
    .advant__title {
        color: var(--text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }
    .advant__text {
        color: var(--desk-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }
    .work__title {
        color: var(--text-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }
    .work__deck {
        color: var(--main-color);
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }
    .team__title {
        color: var(--text-color);
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.84px;
        margin-bottom: 30px;
    }
    .team__name {
        color: var(--text-color);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
    }
    .team__taxt {
        color: var(--desk-color);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 0.48px;
        margin-bottom: 16px;
    }
    .footer__logo {
        color:var(--logo);
        font-family: "Raleway";
        font-size: 24px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.72px;
        }
        .footer__logo {
            margin-right: 88px;
            }
            .footer__logo {
                font-size: 26px;
                letter-spacing: 0.78px;
                margin-right: 93px;
            }
            .footer__color {
                color: #2196f3;
            }
    .footer__link {
        color: var(--footer-contact);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }
    .footer{
        background-color: var(--footer-background);
    }
    .footer__position{
        color: var(--main-color);
    }