header {
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
:root {
    --primary-color: #000000;
    --secondary-color: hsl(0, 0%, 0%);
    --background-color: #ffffff;
    --text-color: #212121;
    --accent-color: #2196f3;
    --border-color: #ffffff;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);

}

a {
    color: var(--primary-color);
}

button {
    background-color: var(--accent-color);
    border: 1px solid var(--border-color);
    color: var(--secondary-color);
}
footer{
    .address__text{
        color: #ffffff;
    }
    background-color: #2f303a;
.address__link{
    color: rgba(255, 255, 255, 0.60)    ;
}
}